.footer {
  background: #e9e9e9;
}

.footer ul {
  list-style: none;
  padding: 0;
  justify-content: center;
}

.footer ul li img {
  width: 3rem;
  height: 2rem;
}

.mobo_store {
  width: 10rem;
  height: 2.6rem;
}

@media screen and (max-width: 768px) {
  .social_media_links {
    justify-content: center !important;
  }
}
